<!DOCTYPE html>
<html>
  <head>
    <title>Vendor Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=MY_API_KEY_HERE&callback=initMap" 
    async defer></script>
    <style>
      /* The map div to control the size */
      #map {
        height: 100%;
        width: 100%;
		border: 1px solid black;
      }
      /* Optional: Add styles for the map container */
      body, html {
        height: 100%;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      function initMap() {
        var mapOptions = {
		  center: {lat: 37.7749, lng: -122.4194},  // San Francisco
          zoom: 15,
          mapTypeId: 'roadmap'  // This will show satellite imagery
        };
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
      }
    </script>
  </body>
</html>
